<!--All pitches displayed here in bootstrap cards-->
<!--Plus Pitch Form-->
{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--Styles Block section-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--Content block section-->
{% block content %}
<h3>Pitches</h3>
    {{macro.displayPitches(pitches)}}
    
{% endblock %}
<!--Pitch form
<div class="container">
    <form>
      
    </form>
</div>-->

<!--Search form-->
<!--<div class="container">
    <form></form>
</div>-->
