{% extends 'base.html' %}
{% import 'macros.html' as macro %} <!-- should i remove?-->
{% import bootstrap/wtf.html' as wtf %}

<!--CONTENT BLOCK--> <!--we just want the full pitch to be displayed once we click the title-->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>{{macro.displayFullPitch}}</h2>
      <hr>
      <!--Display Comments--> 
      {% if comment %} <!--should it be if comment.pitch_comments-->
        <ul>{{macro.displayComments(comment)}}</ul>
      {% else %}
        <h4 class="text-center">This pitch has no comments.</h4>
        <a class="btn btn-success btn-lg text-center" href="/pitch/comment/new/{{pitch.id}}">Add a comment.</a>
      {% endif %}
    </div>

    <!--Display comment form
    <div class="col-md-4"> 
      <h3>Add a comment.</h3>
    </div>-->
  </div>
</div>
{% endblock %}