<div class="container">
  <ng-progress></ng-progress>
  <h1>My Goals</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor = 'let goal of goals; let i = index'> <!--added a loop logic,'let i = index' to register the index of each goal item in the goals list.-->
        <div>
          <h6 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6>
          <button class = "btn btn-primary" (click) = 'goToUrl(goal.id)'>View Details</button>
          <button class = "btn btn-outline-danger" (click) = 'deleteGoal(i)'>Delete Goal</button>
        </div> 
      </div>
    </div>

    <div class="col-md-6">
      <app-goal-form (addGoal) = "addNewGoal($event)"></app-goal-form>
    </div>
  </div>

  <p *ngIf = 'goals.length > 5'>Your goals are too many!</p>

    <div class = "row">
      <blockquote class = "blockquote text-center">
        <p class = "mb-0">{{quote.quote}}</p>
        <br>
        <footer class = "blockquote-footer"><cite>{{quote.author}}</cite></footer>
      </blockquote>
    </div>
</div>


<!--<button (click) = 'toggleDetails(i)' class = "btn btn-primary">Toggle Details</button> <!-toggleDetails() function takes in the index position of the goal item as an argument.-->
<!--<app-goal-detail [goal] = 'goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail> <!-specified that we are binding the 'goal' propoerty to the GOALDETAILCOMPONENT -->